<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nylecpsc481.skihillhci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Current Hill: Sunshine"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RentalScreenActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".FoodMenuActivity" />
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".RunActivity" />
        <activity android:name=".LiftTicketActivity" />
        <activity android:name=".ChangeHillActivity" />
        <activity android:name=".DirectionsActivity"></activity>
    </application>

</manifest>